body {
    font-family: 'Courier New', monospace;
    background-color: #222;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .right {
    position: absolute;
    left: 85%;
    top: 45%;
    right: 2%
  }

  .left {
    position: absolute;
    right: 95%;
    left: 2%;
    top: 45%
  }

  .navbar {
    background-color: #ff0066;
    border-bottom: 5px solid #00cc99;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .navbar a {
    text-decoration: none;
    color: #7DF9FF;
    padding: 15px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  .navbar a:hover {
    background-color: #00cc99;
    color: #ff0066;
    border: 2px solid #ff0066;
  }

  .navbar a:active {
    color: #ff0066;
    box-shadow: 0 0 10px #ff0066, 0 0 20px #ff0066, 0 0 30px #ff0066;
  }

  @keyframes neonGlow {
    0% {
      text-shadow: 0 0 10px #ff0066, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066;
    }

    50% {
      text-shadow: 0 0 15px #ff0066, 0 0 25px #ff0066, 0 0 35px #ff0066, 0 0 50px #ff0066;
    }

    100% {
      text-shadow: 0 0 10px #ff0066, 0 0 20px #ff0066, 0 0 30px #ff0066, 0 0 40px #ff0066;
    }
  }

  .navbar a {
    animation: neonGlow 1.5s ease-in-out infinite alternate;
  }

  audio {
    position: absolute;
    top: 15%;
    left:5%;
  }

  .counter {
    position: absolute;
    top: 15%;
    right:5%;
    font-size: 20px;
    color: darkcyan;
    margin-top: 20px;
    font-family: "Comic Sans Font";
  }

  .counter span{
    color: hotpink;
    font-weight: bolder;
  }

  #about-me {
    position: absolute;
    top: 125%;
    margin: 0;
    padding: 0;
    left:0;
    right:0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #ff00ff;
    color: white;
    line-height: 1.5;
    background-image: url("images/Glitter_stars.gif");
    
  }

  #about-me p{ 
    color:cyan;
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
  }

  .image-container {
    width: 30%;
    max-width: 300px;
    text-align: center;
  }

  .profile-img {
    width: 25vw;
    border: 5px solid #00ccff;
    border-radius: 50%;
  }

  .text-container {
    width: 50%;
    max-width: 600px;
  }

  .subheading {
    font-size: 2rem;
    color: #00ff00;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
  }

  .bio {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .title-about_me {
    position: relative;
    top: 0%;
    font-size: 4rem;
    color: #ffcc00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 30px;
  }


  .projects-container h1 {
    font-size: 2.5rem;
    color: #000;
    margin: 0;
    background-color: #ffcc00;
    padding: 20px;
    width:100%;
    border-bottom: 5px solid #ff00ff;
    margin-bottom:20px;
  }

  #projects-container {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-image: url("https://i.pinimg.com/originals/8e/af/68/8eaf6855aadcb7d8ea7118ed7f58ef05.gif");
    padding-bottom:10%;
    height:85vh;
    position:absolute;
    top:275%;
  }

  .project {
    background-color: #ff00ff;
    margin: 45px 15px;
    padding: 15px;
    border: 3px solid #00ccff;
    border-radius: 10px;
    width: 300px;
    height:340px;
  }

  .project img {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: transform 0.3s ease;
    height:270px;
  }

  .project img:hover {
    transform: scale(1.1);
  }

  .project a {
    text-decoration: none;
    color: #ffcc00;
    display: block;
    margin-top: 10px;
    font-size: 1rem;
  }

  #blog{
    position:absolute;
    top:400%;
    background-color: #fdd835; /* Vibrant yellow */
    color: #1a237e; /* Deep blue */
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    margin-top:-25px;
    padding: 0;
    background-image: url("/images/homeof_Cute_angel.gif");
    padding-bottom:20px;
    width:100vw;
  }

 #blog h1{
      background-color: #1a237e;
      color: #fff;
      text-align: center;
      padding: 20px 0;
      font-size: 2.5rem;
      position: relative;
      top:-60px;
  }

  .blog-container {
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      padding-bottom:auto;
      padding-top:auto;
      background: #fff;
      border: 5px solid #1a237e;
      box-shadow: 5px 5px 0 #000;
  }

  .blog-post {
      margin-bottom: 30px;
  }

  .blog-post h2 {
      font-size: 1.8rem;
      color: #d500f9; /* Bright pink */
  }

  .blog-post p {
      font-size: 1rem;
      line-height: 1.6;
  }

  a {
      color: #d500f9;
      text-decoration: none;
  }

  a:hover {
      text-decoration: underline;
  }

  #contact-page h1 {
    font-size: 2.5em;
    margin: 20px;
    text-shadow: 3px 3px #5135f3;
  }

  #contact-page{
    font-family: "Courier New";
    background-image:url("/images/happy-new-year-planets2021full-moon.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    text-align:center;
    margin: 0;
    padding: 0;
    height:100vh;
    position: absolute;
    top:515%;
    width:100vw;
  }

  form {
    display: inline-block;
    background-color: #dcdcdc;
    border: 3px solid #000;
    padding: 20px;
    margin-top: 50px;
    width: 300px;
    text-align: left;
    box-shadow: 5px 5px #808080;
    text-align: center;
  }

  label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
    color:hotpink;
    font-weight: bold;
  }

  input, textarea {
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
  }

  button {
    background-color: #ff00ff;
    color: #fff;
    border: 2px solid #000;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 1em;
    text-shadow: 1px 1px #000;
  }

  button:hover {
    background-color: #ff99ff;
  }

  .success-message {
    color: green;
    font-size: 1em;
    margin-top: 10px;
  }

  .error-message {
    color: red;
    font-size: 1em;
    margin-top: 10px;
  }

  #contact-page p{
    color:#ff99ff;
    font-family:"Comic Sans MS";
  }

  .im1{
    position:absolute;
    top:10%;
    left:15%;
  }

  .im2{
    position:absolute;
    top:10%;
    right:15%;
  }
  #email3{
    position:absolute;
    top:40%;
    right:15%;
  }
  #email4{
    position:absolute;
    top:40%;
    left:15%;
  }

  #under-construction{
    background-image: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXdlcW5kdjE0NmZtcWhydnkwcnBlMzFtZWJlZTB2NWpxMWUzbXIzaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/EdBq6OQN7JUly/giphy.gif");
    background-size:48% 48%;
    position: absolute;
    top:615%;
    width:100vw;
    height:50vw;
  }
  
  #img4{
    width:100vw;
    position:relative;
    top:-4%;
    height:50px;
  }
  
  footer {
    background-image: url("images/Glitter_stars.gif");
    color: hotpink;
    font-family: 'Press Start 2P', cursive;
    padding: 20px;
    border-top: 5px solid #39FF14;
    text-align: center;
    font-weight: 900;
    padding:20px 0;
    position:absolute;
    top:720%;
    width:100vw;
    padding-bottom:0;
    margin:0;
}
  
  .footer-container {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #39FF14;
    width: 100%;
    margin: 0;
    background-image:url("/images/Glitter_stars.gif");
    background-repeat: repeat-x;
    background-size: contain;
    padding-bottom: 20px;
}
  
  .footer-text {
    margin-bottom: 15px;
  }
  
  .footer-text p {
    margin: 5px 0;
    
  }
  
  footer a {
    text-decoration: none;
    color: darkcyan;
  }

  .blinky{
    -webkit-animation: 
      2s linear infinite blinky-effect;
    animation: 2s linear infinite blinky-effect;
}
  
@-webkit-keyframes blinky-effect { 
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
 
@keyframes blinky-effect {
  0% {
    visibility: hidden;
  }
  50% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

h1,h2{
    font-family: 'Courier New', Courier, monospace;
    color:cyan;
    font-weight: bold;
}